<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<link rel="stylesheet" href="css/style.css">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<h1>Simple Calculator</h1>
		<input id="a"type="text" name="" value="">
		<input id="b"type="text" name="" value="">
	<section>
		<h2 id="result"></h2>
		<button id="plus"type="button" name="button">+</button>
		<button id="minus"type="button" name="button">-</button>
		<button id="multiply"type="button" name="button">*</button>
		<button id="divide"type="button" name="button">\</button>
	</section>

		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
		<script src="javascript/main.js"></script>
	</body>
</html>
