<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
		<link rel="stylesheet" href="css/style.css">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>CLASSES</li>
					<li>HIRE US</li>
				</ul>
			</nav>
			<img src="https://files.slack.com/files-pri/T03SUKX53-F6EE28RCG/new-logo-white.png" alt="">
			<button type="button" name="button">DONATE</button>
			<h1>WHERE GRIT MEETS OPPORTUNITY</h1>
			<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't any</p>
			<div class="topVideo">
				<a href="#">Watch the Video</a>
			</div>
		</header>




		<section>
			<h2>WHY</h2>
			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
			</section>



		<section id="middleSquare">
			<section>
				<img src="" alt="">
				<h2>VISIT THE GYM</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
				<a href="#">SEE CLASSES</a>
			</section>
			<section>
				<img src="" alt="">
				<h2>HAVE US VISIT YOU</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpos humour and the like.</p>
				<a href="#">HIRE US</a>
			</section>
		</section>




		<section class="bottomHeader">
			<h2>VOLUNTEER WITH LEVEL GROUND</h2>
			<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem </p>
			<a href="#">VOLUNTEER</a>
		</section>



		<footer>
			<section  class="clearfix">
			<ul>
				<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
			</ul>
				<h3>SITE MAP</h3>
				<ul>
					<li>classes</li>
					<li>Hire Us</li>
				</ul>
				<h3>CONTRIBUTE</h3>
				<ul>
					<li>Give</li>
					<li>Volunteer</li>
				</ul>
			</section>
			<section class="address">
				<h3>Level Ground</h3></li>
				<h3>MIXED MARTIAL ARTS</h3>
				<h4>50 Milk Street, floor 17</h4>
				<h4>Boston, Ma 02109</h4>
				<h4>410-533-2210</h4>
				<h3>Ali@levelground.org</h3>
			</section>
		</footer>
	</body>
</html>
