<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <section class="majorS clearfix">
    <section class="trumpSec clearfix" >
      <section>
        <h2>Trump's press confrence was an infomercial</h2>
        <p>on how to make mony off the president while pretending not to.</p>
        <h6>By Jamelle Bouie</h6>
      </section>
      <section class="clearfix">
        <h4 class="ulList">the trump transition</h4>
        <ul>
          <li>the glaring problems with five promises trump made today</li>
          <li>the two important props at trump's presser: A pile of papers and his lawyer</li>
          <li>his boast about rejecting2 billion dubi deal proves he's conflicted</li>
          <li>trump'sn"seperation" from his bussiness is a shame</li>
        </ul>
      </section>
    </section>
    <section class="middleTrump">
      <section>
        <img src="" alt="">
        <h2 class="stayBlack">Trump could spar with his own party over fixing americas roads</h2>
      </section>

      <section>
        <h2 class="stayBlack">Conservative Writers Think Obama Talked to much about him self last night</h2>
        <h4>By Laura Wagner</h4>
      </section>
      <section class="jeffSessions">
        <h2>The Most Despating fact of hearing of the Jeff Sesseions Hearing</h2>
        <h4>By Ben Mathis-Lilly</h4>
      </section>
    </section>
    <aside class="">
      <h2>Help! My wife causes her to hoard candy and snap at every little thing.</h2>
      <div class="">
        <h3>JOIN SLATE PLUS</h3>
        <h6>Support our journalism</h6>
      </div>
    </aside>
  </section>
  <section class="slate">
    <header class="clearfix">
      <h1>Slate</h1>
      <i class="fa fa-user" aria-hidden="true"></i>
      <i class="fa fa-search" aria-hidden="true"></i>
      <i class="fa fa-bars" aria-hidden="true"></i>
      <nav>
        <h3>Most rescent</h3>
        <a href="#">see all> </a>
      </nav>
    </header>
    <div class="">
      <h4>6m ago - Sillaim saletan 4m to read</h4>
      <h3><a href="#">Trump  gave a press confernce in guise of a Russian press seretary</a></h3>
    </div>
    <div class="">
      <h4>15m ago -Fred kaplan 5m to read</h4>
      <h3><a href="#">Tillerson 's greatest virtue may be that he's better than any possible alternative</a></h3>
    </div>
    <div class="">
      <h4>1h ago - elissa straruss 3m to read</h4>
      <h3><a href="#">Why Nobody got outraged qhen obama said his kids are his greatest accomplishment</a></h3>
    </div>
    <div class="">
      <h4>2h ago- Mike Pesca -1M read</h4>
      <h3><a href="#">Fred Kaplan Discsses the russia dossier and Rex Tillerson's Confermation hearing</a></h3>
    </div>
    <div class="">
      <h4>2h ago -Rehan Salam 5m to read</h4>
      <h3><a href="#">Why democrats and republicans hate each other more then they hate the russians</a></h3>
    </div>
    <div class="">
      <h4>2h ago- Josh voorhees 6m to read</h4>
      <h3><a href="#">Trump promised to do five things  to separate himself fom his bussiness. There's a glaring problem with each one.</a></h3>
    </div>
    <div class="">
      <h4>2h ago-Henry Grabar 3m to read</h4>
      <h3><a href="#">How trump could spear with his own  party over fixing America's roads</a></h3>
    </div>
  </section>
</body>
</html>
