<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/master.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://use.fontawesome.com/ad8e132e6a.js"></script>
</head>
<body>
  <header>
    <section>
      <nav>
        <ul>
          <li><button type="button" name="">&#9776 SECTION</button></li>
          <li><button type="button" name="">search</button></li>
          <li class="leftNav">English</li>
          <li>(Chinese)</li>
          <li class="rightNav">Espanol</li>
          <li><button class="suscribe" type="button" name="">suscribe</button></li>
          <li><button class="suscribe" type="button" name="">log in</button></li>
        </ul>
      </nav>
    </section>
    <section >
      <img src="nyt.png" alt="">
      <ul>
        <li class="wednesday">wednesday , January 11, 2017</li>
        <li>Todays paper</li>
        <li>video</li>
        <li>48f</li>
        <li>Hang Seng 0.00%</li>
      </ul>
    </section>
    <section>
      <nav class="world">
        <ul>
          <li><a href="#">world</a></li>
          <li><a href="#">u.s.</a></li>
          <li><a href="#">Politics</a></li>
          <li><a href="#">N.Y.</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Opinion</a></li>
          <li><a href="#">Tech</a></li>
          <li><a href="#">Science</a></li>
          <li><a href="#">Health</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Arts</a></li>
          <li><a href="#">Style</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Travel</a></li>
          <li><a href="#">Magazine</a></li>
          <li><a href="#">T Magazine</a></li>
          <li><a href="#">Real esate</a></li>
          <li><a href="#">all</a></li>
        </ul>
      </nav>
    </section>
  </header>
  <section class="leftSide">
    <article>
      <h4>the 45 prsident</h4>
      <h2>'I think It Was Russia,'Trump says of D.N.C. hacking</h2>
      <h4>By Julie Hircshfeild davis and maggie Haberman 2:58 PM ET</h4>
      <ul>
        <li>President-elect Donald J. trump conced for the first Russia has carried out cyberattacks during the presisentsl electionn</li>
        <li>But Mr.Trump sidestepped repeted questions about whether he or anyone in his team had a contract with russia during the campain.</li>
      </ul>
    </article>
    <article>
      <h6>CONFIRMATIONMATT FLEGENHEIMER, DAVID E. SANGER AND EMMI</h6>
      <h2>Rubio Aggerssivly Questions Tillerson on Russia</h2>
      <h5>By MATT FLEGENHEIMER, DAVID E. SANGER and EMMAIRE HUETTEMAN 6:34PM ET</h5>
    </article>
  </section>
  <section class="middle">
    <img class="trump" src="http://www.trbimg.com/img-56aac96b/turbine/la-afp-getty--bestpix-donald-trump-campaigns-in-i-20160128/600" alt="">
    <h4>video by the new york times photo by Damon Winter/The New York times</h4>
    <section >
      <h2>Trump's News Conference: 10 Key Moments</h2>
      <p> simply dummy text of the printing and typesetting indusummy text ever since the 1500s, when an.</p>
      <ul>
        <li><a href="#">Analysis</a></li>
        <li><a href="#"></a>Fact Checking</li>
        <li><a href="#"></a>Transcript</li>
        <li><a href="#"></a>A Made-ForTV Spectacle</li>
      </ul>
    </section>
    <section>
      <h3>Trump will Cede Control, but not divest in business</h3>
      <h4> by Susanne craig and Eric Lipton</h4>
      <p>Mr.Trump plans to turnover his business operations to a trust controlled by his two olest sons, a solution said to be wholly indaequate by the goverment's top ethics monitor</p>
      <img src="" alt="">
      <ul>
        <li>Trump's news session starts war with media</li>
      </ul>
    </section>
  </section>
    <section id="float">
      <h3>the opion pages</h3>
    <section>
      <h4>charles m.blow</h4>
      <h4>ode to obama</h4>
      <p>you don't know what you have till its gone</p>
      <img src="https://ohmygodd.com/wp-content/uploads/4BizPeopleRoundLaptopOffice9910930Med1.jpg" alt="">
    </section>
   <section>
      <h4>should Companies keep there drivers off social media?</h4>
      <p>Apple sued in a crash in which a driver was using Facetime</p>
      <img src="https://s-media-cache-ak0.pinimg.com/originals/cc/7f/cc/cc7fcccc1dadf67875bfe07a9dca8059.jpg" alt="">
    </section>
    <section>
      <h4>op-ed contributer</h4>
      <h4>Donald Trump: a modern manchurian canidate?</h4>
      <h5>BY Max Boot</h5>
      <p>The onus is on the president-elect to prove he's not putin's puppet.</p>
      <img src="http://www.itsmarta.com/images/police-our-mission.jpg" alt="">
      <ul>
        <li>Editorial: Trying to head off a health care calaminty</li>
        <li>Disabilty: My life with paralysis</li>
      </ul>
    </section>
    <section>
      <h4>THIS WEEK IN HATE</h4>
      <h4>Anti-semitic NOte promise mayhem</h4>
      <p>Hate crimes and incidents of harassment reported in recent days.</p>
      <img src="http://i.dailymail.co.uk/i/pix/2016/05/23/22/348B850600000578-3605456-image-m-32_1464040491071.jpg" alt="">
      <ul>
        <li>Bruni: The Dark Magic of Kelly Conway</li>
        <li>Friedman: online and scared</li>
      </ul>
    </section>
    </section>
      <section>
        <h4>times insider</h4>
        <p>'Whasts the difference Between the National debt and the federal debt'?</p>
        <h4>the crossword</h4>
        <span>Play today puzzle</span>
        <img src="" alt="">
      </section>
    </body>
</html>
